@use "sass:color";
@use "sass:math";

p {
  color: brown;
}
div.columns {
  height: 100%;
  display: flex;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  $base-color: pink;

  @mixin color-columns($n) {
    @for $i from 1 through $n {
      $current-color: color.adjust(
        $base-color,
        $hue: ($i - 1) * math.div(360, $n -1)
      );
      & > div:nth-child(#{$i}) {
        background-color: $current-color;
      }
      & > div:nth-child(#{$i}) {
        content: "#{$current-color}";
      }
    }
  }
  @include color-columns(10);
}
