.row {
  display: flex;
  justify-content: space-between;
}
.row > * {
  flex: 1;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  padding: 2rem;
}
.table {
  border: 1px solid black;
}

.row > *:hover {
  background-color: cadetblue;
  transition: all 0.4s;
}

img {
  width: 500px;
  margin-top: 5rem;
}
img {
  width: 100%;
  justify-content: center;
}
